.admin-dashboard {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin1-form{
background-color: #131211;
padding: 15px;
border-radius: 5px;
width: 80%;
}
.admin-dashboard h2 {
  color: black;
}
.error-message {
  color: red;
  margin-bottom: 10px;
}
.success-message {
  color: green;
  margin-bottom: 10px;
}
.all-books{
  width: fit-content;
}
.requests-table{
  width: fit-content;
}
/* Buttons */
button {
  padding: 10px 15px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
 
}

.update-form{
  width: 80%;
  padding: 20px;
  background-color: black;
  margin: 10px;
}
.admin-dashboard .add-book{
  width: 60%;
}
.request-button{
  width: 60%;
}
.add-book, .request-button {
  background-color: black;
  color: white;
}
.accept-button {
  background-color: #4CAF50;
  color: white;
}
.reject-button {
  background-color: #f44336;
  color: white;
}
.delete {
  background-color: #f44336;
  color: white;
}
.all-books h3 {
  color: black;
}
.requests-table h3 {
  color: black;
}

/* Forms */
.book-form{
  background-color: black;
  box-shadow: 5px 5px 15px black;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
th {
  background-color: black;
  color: white;
  height: 30px;
  font-weight: bold;
}
tr:hover {
  background-color: #e8e6e6;
}


/* Responsive Design */
@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .side{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    text-align: center;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
  }

}
